@use "../mixin.scss";
@use "../variables.scss";
@use "../colors.scss";

.additional {
  padding: 0 20px 35px 20px;

  @media (min-width: variables.$tablet-width) {
    padding: 0 30px 35px 30px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0 110px 35px 110px;
  }
}

.additional__wrapper {
  width: 280px;

  @media (min-width: variables.$tablet-width) {
    width: 708px;
    padding: 0 38px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 1220px;
  }
}

.additional__title-decoration {
  font-size: 24px;
  line-height: 24px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: -10%;
    width: 116%;
    height: 1px;
    background-color: colors.$white-lighter2;
  }

  &::before {
    position: absolute;
    content: "";
    top: 38px;
    right: -16%;
    width: 20%;
    height: 2px;
    background-color: colors.$primary-color;
  }

  @media (min-width: variables.$tablet-width) {
    font-size: 36px;
    line-height: 36px;

    &::after {
      position: absolute;
      content: "";
      top: 46px;
      left: -10%;
      width: 6%;
      height: 2px;
      background-color: colors.$primary-color;
    }

    &::before {
      top: 46px;
      width: 66%;
    }
  }

  @media (min-width: variables.$desktop-width) {
    &::after {
      left: -12%;
    }

    &::before {
      width: 80%;
    }
  }
}

.additional__title {
  @include mixin.text_reset;
  margin-bottom: 36px;
  padding-top: 25px;
}

.additional__card-wrapper {
  margin-bottom: 35px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 69px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 86px;
  }
}

.additional__card-gift {
  @media (min-width: variables.$tablet-width) {
    width: 632px;
  }

  @media (min-width: variables.$desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 1220px;
  }
}

.additional__card {
  width: 281px;
  margin-bottom: 19px;
  padding-top: 12px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid colors.$white-lighter2;
  }

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 19px;
  }

  @media (min-width: variables.$tablet-width) {
    width: 632px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: variables.$desktop-width) {
    width: 894px;
    align-items: center;
  }
}

.additional__card-title {
  @include mixin.text_reset;
  font-size: 16px;
  line-height: 16px;
  color: colors.$dark;
  text-transform: uppercase;
  margin-bottom: 12px;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
  }
}

.additional__card-text-wrapper {
  margin-bottom: 15px;

  @media (min-width: variables.$tablet-width) {
    margin-left: auto;
    margin-bottom: 25px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 0;
  }
}

.additional__card-text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: colors.$grey;

  @media (min-width: variables.$tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.additional__card-price {
  @media (min-width: variables.$tablet-width) {
    margin-left: 50px;
  }
}
