@use "../mixin.scss";
@use "../variables.scss";

.advantages {
  @media (min-width: variables.$desktop-width) {
    display: flex;
  }
}

.advantages__card {
  background-color: #f2f2f2;
  width: 280px;
  box-sizing: border-box;

  @media (min-width: variables.$tablet-width) {
    width: 708px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 570px;
  }
}

.advantages__wrapper {
  padding: 30px 32px 18px 20px;
  margin-bottom: 20px;

  @media (min-width: variables.$tablet-width) {
    padding: 77px 0 52px 52px;
    margin-bottom: 45px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 77px 0 55px 52px;
    margin-bottom: 70px;
    margin-right: 80px;
  }
}

.advantages__card-title {
  @include mixin.reset; //сбрасывает padding и margin
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: normal;
}

.advantages__card-description {
  @include mixin.reset; //сбрасывает padding и margin
  font-family: "Arial", sans-serif;
  color: #444444;

  @media (min-width: variables.$tablet-width) {
    max-width: 340px;
  }

  @media (min-width: variables.$desktop-width) {
    max-width: 467px;
  }
}

.advantages__card-link {
  @include mixin.reset; //сбрасывает padding и margin
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
