@use "../mixin.scss";
@use "../variables.scss";
@use "../colors.scss";

.cooperation {
  background-color: colors.$white;
  position: relative;
}

.cooperation__inner {
  padding: 26px 0;
  display: flex;
  justify-content: space-between;
  width: 280px;

  @media (min-width: variables.$tablet-width) {
    width: 708px;
    padding: 60px 30px 56px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 565px;
    height: 198px;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 1;
    background-color: colors.$white;
  }
}

.cooperation--secondary {
  margin: 0;
  background-color: colors.$white-light;

  @media (min-width: variables.$desktop-width) {
    background-color: colors.$white;
  }
}

.cooperation__text {
  @include mixin.reset;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;

  @media (min-width: variables.$tablet-width) {
    width: 172px;
  }
}

.cooperation__address {
  @include mixin.reset;
  font-style: normal;
  font-family: "Arial", sans-serif;
  color: colors.$grey;
  line-height: 20px;
  width: 140px;

  @media (min-width: variables.$tablet-width) {
    width: 160px;
  }
}
