@use "../mixin.scss";
@use "../variables.scss";
@use "../colors.scss";

.cooperation {
  background-color: colors.$white;
  position: relative;
  width: 100%;
}

.cooperation__inner {
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;

  @media (min-width: variables.$tablet-width) {
    width: 708px;
    padding: 60px 30px 56px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 565px;
    position: absolute;
    top: 95px;
    left: 110px;
    z-index: 1;
    background-color: colors.$white;
  }
}

.cooperation--secondary {
  margin: 0;
  background-color: colors.$white-light;

  @media (min-width: variables.$desktop-width) {
    background-color: colors.$white;
  }
}

.cooperation__text {
  @include mixin.reset;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;
  color: colors.$darken;

  @media (min-width: variables.$tablet-width) {
    width: 172px;
    font-size: 20px;
    line-height: 26px;
  }
}

.cooperation__address {
  @include mixin.reset;
  font-style: normal;
  font-family: "Arial", sans-serif;
  color: colors.$grey;
  line-height: 20px;
  width: 140px;

  @media (min-width: variables.$tablet-width) {
    width: 160px;
    font-size: 16px;
  }
}

.cooperation__maps {
  display: block;
  width: 100%;
  border: none;

  @media (min-width: variables.$tablet-width) {
    height: 400px;
  }
}
