@use "../mixin.scss";
@use "../variables.scss";
@use "../colors.scss";

.example {
  background-color: colors.$white-lighter;

  @media (min-width: variables.$tablet-width) {
    background-color: colors.$white;
    // padding: 0 30px;
    position: relative;
    z-index: -1;
  }

  @media (min-width: variables.$desktop-width) {
    background-color: colors.$white-light;
  }
}

.example__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: variables.$tablet-width) and (max-width: variables.$desktop-width) {
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: colors.$white-lighter;
      height: 462px;
      width: 100vw;
      z-index: -2;
    }
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0 auto;
    margin-top: 205px;
    width: 1220px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &::before {
      display: none;
    }
  }
}

.example__inner {
  @media (min-width: variables.$desktop-width) {
    margin-top: 70px;
  }
}

.example__title-wrapper {
  margin-bottom: 20px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 69px;
  }
}

.example__title {
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: variables.$tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: variables.$desktop-width) {
    position: absolute;
    margin: 0;
    top: -136px;
  }
}

.example__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: colors.$grey;

  @media (min-width: variables.$tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.example__description-wrapper {
  @include mixin.reset; //сбрасывает padding и margin
  width: 280px;

  @media (min-width: variables.$tablet-width) {
    width: 708px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 436px;
  }
}

.example__info-wrapper {
  margin-bottom: 40px;
  width: 280px;

  @media (min-width: variables.$tablet-width) {
    width: 708px;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 366px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 75px;
  }
}

.example__info-inner {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;

  @media (min-width: variables.$tablet-width) {
    width: 366px;
    margin-bottom: 0;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 40px;
  }
}

.example__info {
  @include mixin.reset; //сбрасывает padding и margin
  width: 124px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;
  padding: 14px 0;
  transform: rotate(180deg);

  @media (min-width: variables.$tablet-width) {
    width: 162px;
  }
}

.example__info-title {
  font-family: "Arial", sans-serif;
  color: colors.$grey;
  font-size: 12px;
  line-height: 12px;
  transform: rotate(180deg);
  width: 77px;

  @media (min-width: variables.$tablet-width) {
    font-size: 14px;
    line-height: 14px;
    width: auto;
    padding: 0 8px;
  }
}

.example__info-text {
  font-size: 24px;
  line-height: 24px;
  transform: rotate(180deg);
  display: block;

  @media (min-width: variables.$tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__price {
  text-align: center;
  display: block;

  @media (min-width: variables.$tablet-width) {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 327px;
  }
}

.example__price-title {
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;

    &:first-child {
      margin-bottom: 9px;
    }
  }

  @media (min-width: variables.$desktop-width) {
    &:first-child {
      margin-bottom: 0;
    }
  }
}

.example__image {
  @media (min-width: variables.$tablet-width) {
    display: block;
    z-index: 22;
    margin-bottom: 101px;
  }

  @media (min-width: variables.$desktop-width) {
    position: absolute;
    top: -136px;
    right: 0;
  }
}
