@use "../mixin.scss";
@use "../variables.scss";
@use "../colors.scss";

.introduction {
  position: relative;
  width: 320px;

  @media (min-width: variables.$tablet-width) {
    width: 708px;
  }

  @media (min-width: variables.$desktop-width) {
    display: flex;
    width: auto;
    margin-right: 0;
  }
}

.introduction__wrapper {
  margin-bottom: 20px;

  @media (min-width: variables.$desktop-width) {
    margin-right: 116px;
    margin-bottom: 343px;
  }
}

.introduction__title-wrapper {
  padding: 28px 0 0;
  width: 250px;
  margin: auto;

  @media (min-width: variables.$tablet-width) {
    width: 416px;
    margin: 0;
    margin-left: 117px;
    padding: 0;
  }

  @media (min-width: variables.$desktop-width) {
    margin-left: 190px;
  }
}

.introduction__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: colors.$white;
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    color: colors.$black;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
  }
}

.introduction__title-position {
  @include mixin.reset;
  margin-bottom: 25px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 40px;
  }
}

.introduction__subtitle {
  text-transform: uppercase;
  color: colors.$white;
  text-align: center;
  display: block;
  margin-bottom: 30px;

  @media (min-width: variables.$tablet-width) {
    color: colors.$black;
    text-align: left;
    margin-left: auto;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: variables.$desktop-width) {
    color: colors.$black;
    text-align: left;
  }
}

.introduction__title-backimage-wrapper {
  // background-color: colors.$green-transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  @media (min-width: variables.$tablet-width) {
    display: none;
  }

  @media (min-width: variables.$desktop-width) {
    display: block;
    position: absolute;
    left: 720px;
    right: 0;
    top: -218px;
    width: auto;
    height: 694px;
  }
}

.introduction__title-backimage {
  @media (min-width: variables.$desktop-width) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -10;
    display: block;
  }
}

.introduction__title-backimage-inner {
  position: absolute;
  content: "";
  background-color: colors.$green-transparent2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  @media (min-width: variables.$desktop-width) {
    background-color: colors.$green-transparent;
  }
}

.introduction__button {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: variables.$tablet-width) {
    position: absolute;
    top: 230px;
    left: 120px;
  }

  @media (min-width: variables.$desktop-width) {
    position: absolute;
    top: 230px;
    left: 190px;
  }
}

.introduction__can-image {
  display: block;
  margin: 0 auto;

  @media (min-width: variables.$tablet-width) {
    margin-left: 30px;
  }

  @media (min-width: variables.$desktop-width) {
    position: absolute;
    top: 0;
    left: 558px;
    margin: 0;
  }
}
