@use "../mixin.scss";
@use "../variables.scss";

.main-nav__list {
  @include mixin.reset;
  list-style-type: none;

  @media (min-width: variables.$tablet-width) {
    display: flex;
  }

  @media (max-width: variables.$tablet-width) {
    display: none;
  }
}

.main-nav__element-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
