@use "../mixin.scss";
@use "../variables.scss";

.product__card-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  @media (min-width: variables.$tablet-width) {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.product__card {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 10px;
  }
}

.product__card-title {
  @include mixin.text_reset;
  color: #222222;
  font-size: 16px;
  line-height: 20px;
}

.product__card-list {
  @include mixin.reset;
  list-style-type: none;
}

.product__card-text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.product__show-more {
  padding: 25px 0;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}

.product__show-more-title {
  @include mixin.text_reset;
  text-transform: uppercase;
  line-height: 20px;
  font-size: 16px;
  color: #111111;
  width: 204px;

  @media (min-width: variables.$tablet-width) {
    width: 134px;
  }
}

.product__show-more-text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  width: 221px;

  @media (min-width: variables.$tablet-width) {
    width: 167px;
  }
}
