$primary-color: #68b738; //colors.$primary-color
$green-transparent: rgba(104, 183, 56, 0.85); //colors.$green-transparent
$white: #ffffff; //colors.$white
$white-light: #f2f2f2; //colors.$white-light
$white-lighter: #eaeaea; //colors.$white-lighter
$light: #d9d9d9; //colors.$light
$black: #000000; //colors.$black
$grey: #444444; //colors.$grey
$darken: #111111; //colors.$darken
$dark: #222222; //colors.$dark
