$primary-color: #68b738; //colors.$primary-color
$primary-color-dark: #5eaa2f; //colors.$primary-color-dark
$green-transparent: rgba(104, 183, 56, 0.85); //colors.$green-transparent
$white: #ffffff; //colors.$white
$white-light: #f2f2f2; //colors.$white-light
$white-lighter: #eaeaea; //colors.$white-lighter
$white-lighter2: #ebebeb; //colors.$white-lighter2
$white-lighter3: #e7e7e7; //colors.$white-lighter3
$light: #d9d9d9; //colors.$light
$black: #000000; //colors.$black
$grey: #444444; //colors.$grey
$darken: #111111; //colors.$darken
$dark: #222222; //colors.$dark
