@use "mixin.scss";
@use "variables.scss";

body {
  @include mixin.reset; //сбрасывает padding и margin
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
}

.page__body {
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  @include mixin.reset; //сбрасывает padding и margin
  border: none;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.button--primary {
  color: #ffffff;
  background-color: variables.$primary-color;
}

.button--catalog {
  width: 279px;

  @media (min-width: variables.$tablet-width) {
    width: 249px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 169px;
  }
}

.container {
  margin: 0 20px;

  @media (min-width: variables.$tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0 110px;
  }
}

.title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}
