@use "mixin.scss";
@use "variables.scss";
@use "colors.scss";

body {
  @include mixin.reset; //сбрасывает padding и margin
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: colors.$black;
}

.page__body {
  position: relative;
  min-width: 320px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  @include mixin.reset; //сбрасывает padding и margin
  border: none;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  text-transform: uppercase;
}

.button--primary {
  color: colors.$white;
  background-color: colors.$primary-color;
  padding: 7px 44px;
  width: 280px;
  height: 40px;

  &:hover {
    background-color: colors.$primary-color-dark;
  }

  &:active {
    color: transparentize(colors.$white, 0.3);
  }

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.button--index {
  @media (min-width: variables.$tablet-width) {
    padding: 14px 26px;
    width: 244px;
  }
}

.button--catalog {
  width: 279px;
  padding: 10px 94px;
  margin: 0 auto;

  &:hover {
    background-color: colors.$white-lighter2;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: variables.$tablet-width) {
    width: 249px;
    padding: 10px 79px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 169px;
    padding: 10px 39px;
  }
}

.container {
  padding: 0 20px;

  @media (min-width: variables.$tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0 110px;
  }
}

.button-additional {
  @media (min-width: variables.$tablet-width) {
    width: 100%;
  }

  @media (min-width: variables.$desktop-width) {
    width: 244px;
    margin-left: 64px;
  }
}

.questionnaire__button {
  @media (min-width: variables.$tablet-width) {
    width: 282px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 568px;
  }
}
